@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: #003135;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 8em;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Overlock SC' ,sans-serif;
}

h2 {
    font-size: 4em;
    color: #fff;
    font-family: 'Nunito' ,sans-serif;
    margin: 10px 0 30px 0;
}

.upload-box {
    background-color: #FFDF99;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin: 15px 0;
    font-size: 1.2em;
    padding: 20px;
    position: relative;
    left: 50px;
    font-family: 'Nunito' ,sans-serif;

}

input[type="submit"] {
    background-color: #003135;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
